.list-group-item.active {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    color: #fff !important;
}

.list-group-item.active:hover {
    background-color: #5a6268 !important;
    border-color: #5a6268 !important;
}